.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}
.top-ui-bar {
  width: 100%;
  background-color: #f46c0f;
  height: 70px;
  margin-top: -70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: fixed;
  z-index: 80;
}
.top-ui-bar .center {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: flex-start;
  align-items: center;
}
.top-ui-bar .action-index {
  color: white;
}
.top-ui-bar a {
  color: white;
  text-decoration: none;
}
.top-ui-bar a i {
  margin-right: 7.5px;
}
.top-ui-bar .menu-toggle {
  cursor: pointer;
}
.top-ui-bar .menu-toggle .stripe {
  width: 25px;
  height: 4px;
  background-color: white;
  margin-top: 4px;
  border-radius: 5px;
}
.top-ui-bar .menu-toggle .stripe:first-child {
  margin-top: 0px;
}
.top-ui-bar .welcome-user {
  color: white;
  margin-left: 15px;
}
.header-box {
  width: 100%;
  height: 350px;
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: url('../../images/header.jpg');
  background-position: center 65%;
}
.header-box .center {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.header-box h1 {
  color: white;
  font-size: 38px;
  margin: 0;
  padding: 0;
}
.menu {
  width: 300px;
  position: fixed;
  height: 100vh;
  background-color: #f0ebeb;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  transition: 0.3s ease;
  z-index: 999;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  animation: slideIn 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.menu .back-to-index {
  width: 100%;
  height: 70px;
  background-color: #f46c0f;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.menu .back-to-index i {
  color: white;
  font-size: 28px;
}
.menu .center {
  width: 90%;
}
.menu ul {
  padding: 0;
  margin: 35px 0 0 0;
}
.menu ul li {
  list-style-type: none;
  margin-bottom: 2px;
  background-color: white;
  cursor: pointer;
  transition: 0.3s;
}
.menu ul li:hover {
  position: relative;
  margin-right: -5px;
}
.menu ul li a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: flex-start;
  padding: 20px 0;
  margin-left: 20px;
  text-decoration: none;
  align-items: center;
}
.menu ul li i {
  font-size: 22px;
}
.menu ul li span {
  margin-left: 15px;
}
.menu ul li button {
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: flex-start;
  padding: 20px 0 20px 20px;
  text-decoration: none;
  align-items: center;
  margin-top: 30px;
  width: 100%;
  cursor: pointer;
}
.menu ul li button i {
  font-size: 22px;
  pointer-events: none;
}
.menu ul li button span {
  margin-left: 15px;
  font-size: 16px;
  pointer-events: none;
}
.fade-out {
  animation: slideOut 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.black-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 99;
}
@-moz-keyframes slideIn {
  from {
    left: -350px;
  }
  to {
    left: 0px;
  }
}
@-webkit-keyframes slideIn {
  from {
    left: -350px;
  }
  to {
    left: 0px;
  }
}
@keyframes slideIn {
  from {
    left: -350px;
  }
  to {
    left: 0px;
  }
}
@-moz-keyframes slideOut {
  from {
    left: 0;
  }
  to {
    left: -350px;
  }
}
@-webkit-keyframes slideOut {
  from {
    left: 0;
  }
  to {
    left: -350px;
  }
}
@keyframes slideOut {
  from {
    left: 0;
  }
  to {
    left: -350px;
  }
}
.with-filter {
  top: 90px;
  position: relative;
}
.component-display {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;
}
.component-display .center {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.component-display .center .full-width {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.intro-text {
  margin-top: 35px;
  line-height: 24px;
}
.filter-bar-y {
  width: 100%;
  height: 55px;
  background-color: #f7f7f7;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: -90px;
}
.filter-bar-y ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.filter-bar-y ul li {
  margin: 0 25px;
  font-size: 15px;
  cursor: pointer;
}
.filter-bar-y ul li a {
  text-decoration: none;
}
.filter-bar-y ul li .active {
  font-weight: bold;
  color: #f46c0f;
}
.recipe {
  width: 100%;
}
.col-md {
  width: 100%;
}
.current-recipe,
.grocery-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  justify-content: space-between;
}
.current-recipe p,
.grocery-list p {
  margin: 0;
}
.current-recipe .day-title,
.grocery-list .day-title {
  margin-top: 35px;
  font-size: 22px;
  width: 100%;
}
.current-recipe .recipe-img,
.grocery-list .recipe-img {
  width: 65%;
  height: 425px;
  position: relative;
}
.current-recipe .recipe-img img,
.grocery-list .recipe-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.current-recipe .recipe-details,
.grocery-list .recipe-details {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.current-recipe .recipe-details h3,
.grocery-list .recipe-details h3 {
  font-size: 28px;
  margin: 0;
  position: relative;
}
.current-recipe .recipe-details ul,
.grocery-list .recipe-details ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.current-recipe .recipe-details ul li,
.grocery-list .recipe-details ul li {
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  font-size: 18px;
  position: relative;
}
.current-recipe .recipe-details ul li:first-child,
.grocery-list .recipe-details ul li:first-child {
  padding-top: 0px;
}
.current-recipe .recipe-details ul li i,
.grocery-list .recipe-details ul li i {
  font-size: 24px;
  margin-right: 15px;
}
.current-recipe .recipe-details .btn,
.grocery-list .recipe-details .btn {
  background-color: #ff7e1a;
  color: white;
  width: 250px;
  position: relative;
}
.current-recipe .recipe-extended-details,
.grocery-list .recipe-extended-details {
  padding: 20px 0;
  background-color: white;
  margin-top: 35px;
  border-radius: 10px;
  border: 1px solid #dedede;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.current-recipe .recipe-extended-details .center-y,
.grocery-list .recipe-extended-details .center-y {
  width: 90%;
}
.current-recipe .recipe-extended-details h4,
.grocery-list .recipe-extended-details h4 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: flex-start;
  font-size: 20px;
  margin: 0;
  position: relative;
}
.current-recipe .recipe-extended-details ul,
.grocery-list .recipe-extended-details ul {
  padding: 0;
  list-style: none;
  margin: 20px 0 0 0;
}
.current-recipe .recipe-extended-details ul li,
.grocery-list .recipe-extended-details ul li {
  margin: 12.5px 0;
  position: relative;
}
.current-recipe .recipe-extended-details ul li:last-child,
.grocery-list .recipe-extended-details ul li:last-child {
  font-weight: bold;
  margin: 20px 0 0 0;
}
.current-recipe .recipe-extended-details ul li:last-child span,
.grocery-list .recipe-extended-details ul li:last-child span {
  font-weight: normal;
}
.current-recipe .recipe-extended-details .nutrient-list,
.grocery-list .recipe-extended-details .nutrient-list {
  margin-bottom: 0px;
  width: 100%;
}
.current-recipe .recipe-extended-details .nutrient-list li,
.grocery-list .recipe-extended-details .nutrient-list li {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
  border: 1px dashed #dedede;
  border-bottom: none;
  padding: 15px;
  color: #394041;
  margin: 0;
}
.current-recipe .recipe-extended-details .nutrient-list li:last-child,
.grocery-list .recipe-extended-details .nutrient-list li:last-child {
  margin: 0;
}
.current-recipe .recipe-extended-details .nutrient-list li span:first-child,
.grocery-list .recipe-extended-details .nutrient-list li span:first-child {
  font-weight: bold;
}
.current-recipe .recipe-extended-details .nutrient-list li:last-child,
.grocery-list .recipe-extended-details .nutrient-list li:last-child {
  border-bottom: 1px dashed #dedede;
}
.current-recipe #ingredient-detail,
.grocery-list #ingredient-detail {
  width: 48.5%;
}
.current-recipe #nutrient-detail,
.grocery-list #nutrient-detail {
  width: 48.5%;
}
.current-recipe .groceries-list,
.grocery-list .groceries-list {
  width: 100%;
  padding: 0;
  list-style-type: none;
  margin: 0;
}
.current-recipe .groceries-list li,
.grocery-list .groceries-list li {
  padding: 40px 0;
  border-bottom: 1px solid #dedede;
  position: relative;
}
.current-recipe .grocery-item,
.grocery-list .grocery-item {
  width: 100%;
  cursor: pointer;
}
.current-recipe input[type=checkbox],
.grocery-list input[type=checkbox] {
  position: absolute;
  opacity: 0;
}
.current-recipe input[type=checkbox]:checked ~ .checkmark i,
.grocery-list input[type=checkbox]:checked ~ .checkmark i {
  display: flex;
  color: #ff7e1a;
}
.current-recipe .checkmark,
.grocery-list .checkmark {
  width: 25px;
  height: 25px;
  background-color: white;
  border: 1px solid #dedede;
  transition: 0.2s;
  border-radius: 2.5px;
  cursor: pointer;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.current-recipe .checkmark i,
.grocery-list .checkmark i {
  color: white;
  display: none;
  pointer-events: none;
}
.request-schedule {
  position: relative;
  top: -70px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.request-schedule .btn {
  width: 250px;
  background-color: #ff7e1a;
  color: white;
  margin-top: 20px;
}
.toggle-box {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-top: 35px;
}
.toggle-box li {
  width: 100%;
  color: #394041;
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}
.toggle-box li:first-child {
  padding-top: 0px;
}
.toggle-box li:last-child {
  padding-bottom: 0px;
  border-bottom: none;
}
.settings-content {
  width: 720px;
  position: relative;
}
.settings-content p {
  margin: 0;
}
.settings-content form {
  margin: 45px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.settings-content form .outer-container {
  width: 100%;
}
.settings-content form input {
  width: 100%;
}
.settings-content form span {
  color: white;
  pointer-events: none;
}
.settings-content form .btn {
  background-color: #ff7e1a;
  color: white;
  width: 250px;
  border: none;
  font-size: 16px;
  margin-top: 35px;
  outline: none;
}
.settings-content form .btn:disabled {
  opacity: 0.5;
  cursor: crosshair;
}
.skeleton-loader {
  display: inline-block;
  height: 100%;
  width: 100%;
  background: linear-gradient(-90deg, #F0F0F0 0%, #F8F8F8 50%, #F0F0F0 100%);
  background-size: 400% 400%;
  animation: pulse 1.2s ease-in-out infinite;
  position: absolute;
  top: 0;
  left: 0;
}
@keyframes pulse {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -135% 0%;
  }
}
.skeleton-loader .skeleton-line {
  width: 5.5em;
  border-radius: 5px;
}
.skeleton-loader .skeleton-line::before {
  content: "\00a0";
}
.skeleton-frame-l {
  height: 35px;
}
.skeleton-frame-m {
  height: 25px;
}
.skeleton-frame-ml {
  height: 25px;
}
.skeleton-frame-m-space {
  height: 25px;
  margin: 7.5px 0;
}
.generation-screen {
  width: 100%;
  height: 100%;
  background-color: #ff7e1a;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.generation-screen .to-home {
  position: absolute;
  right: 2.5%;
  top: 30px;
}
.generation-screen .to-home i {
  color: white;
  font-size: 25px;
}
.generation-screen .centered {
  width: 850px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.generation-screen .centered h2 {
  color: white;
  font-size: 30px;
  text-align: center;
  line-height: 42px;
  margin: 0;
}
.generation-screen div:first-child {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.generation-screen .btn {
  width: 250px;
  background-color: white;
  color: #ff7e1a;
}
.generation-screen p {
  width: 100%;
  text-align: center;
  color: white;
  margin: 40px 0;
}
.generation-screen .roulette-wheel {
  width: 550px;
  height: 550px;
  margin-top: 25px;
  border-radius: 100%;
  position: relative;
  /* Safari 4.0 - 8.0 */
  /* Standard syntax */
}
.generation-screen .roulette-wheel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.generation-screen .roulette-wheel .roulette-trigger {
  width: 165px;
  height: 165px;
  position: absolute;
  background-color: #f46c0f;
  margin: auto;
  border-radius: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.generation-screen .roulette-wheel .roulette-trigger h2 {
  color: white;
  font-size: 20px;
}
.generation-screen .roulette-wheel .spin-animate {
  -webkit-animation-name: spinner;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 3s;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: 1;
  animation-timing-function: ease-out;
}
@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
.recipe-full {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.recipe-full .top-ui-bar {
  margin-top: 0px;
}
.recipe-full .current-recipe {
  top: 0px;
}
.recipe-full .current-recipe .specs {
  margin-bottom: 0px;
}
.recipe-full .current-recipe h3 {
  font-size: 28px;
}
.center-base {
  width: 1155px;
  margin-top: 140px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: flex-start !important;
  margin: 20px 0 !important;
}
.tags li {
  padding: 12.5px 25px !important;
  width: unset !important;
  display: unset !important;
  background-color: #dedede;
  border-radius: 10px;
  margin-right: 10px;
}
.day-tag {
  padding: 12.5px 25px;
  border-radius: 10px;
  background-color: #ffa45c;
  color: white;
  margin-bottom: 20px;
  display: inline-flex;
}
.details-box {
  width: 100%;
  margin: 25px 0 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
}
.list {
  padding: 30px 30px;
  border: 1px solid #dedede;
  border-radius: 10px;
  align-self: flex-start;
}
.list h4 {
  font-size: 18px;
  margin-top: 0px;
}
.list ul {
  padding: 0;
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.list ul li {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 0;
}
.list ul li label {
  width: 85% !important;
  margin-left: 15px;
  justify-content: flex-start;
  align-items: flex-start;
}
.list .btn {
  background-color: #ff7e1a;
  color: white;
}
#ingredient-list {
  width: 30%;
}
#instructions-list {
  width: 67.5%;
}
#instructions-list .instructions {
  margin-bottom: 0px;
}
#instructions-list .instructions li {
  margin: 5px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  justify-content: flex-start;
}
#instructions-list .instructions li .instruction-key {
  background-color: #f46c0f;
  width: 30px;
  height: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
  align-items: center;
  border-radius: 100%;
  font-size: 13px;
}
#instructions-list .instructions li span {
  width: 90%;
  margin-left: 10px;
  margin-top: 5px;
}
#nutrition-list {
  margin-top: 50px;
  width: 100%;
}
#nutrition-list ul {
  margin-bottom: 0px;
  width: 100%;
}
#nutrition-list ul li {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
  border: 1px dashed #dedede;
  border-bottom: none;
  padding: 20px;
  color: #394041;
}
#nutrition-list ul li span:first-child {
  font-weight: bold;
}
#nutrition-list ul li:last-child {
  border-bottom: 1px dashed #dedede;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Standard syntax */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media only screen and (max-width: 1240px) and (min-width: 1025px) {
  .center-base {
    width: 980px;
  }
  #ingredient-list {
    width: 350px;
  }
  #instructions-list {
    width: 600px;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .header-box {
    height: 300px;
  }
  .component-display .center {
    width: 95%;
  }
  .current-recipe .recipe-img {
    width: 55%;
    height: 300px;
  }
  .current-recipe .recipe-details {
    width: 40%;
  }
  .current-recipe .recipe-details h3 {
    font-size: 20px;
  }
  .current-recipe .recipe-details ul li {
    padding: 5px 0;
  }
  .current-recipe .recipe-details .btn {
    width: 200px;
  }
  .component-display .center {
    width: 730px;
  }
  .center-base {
    width: 95%;
  }
  #ingredient-list {
    width: 35%;
  }
  #instructions-list {
    width: 62.5%;
  }
  #nutrition-list {
    margin-top: 30px;
  }
  .current-recipe {
    margin-bottom: 30px;
  }
  .list {
    padding: 20px 20px;
  }
  .list ul li label {
    margin-left: 0px;
    padding-left: 15px;
  }
}
@media only screen and (max-width: 768px) and (min-width: 320px) {
  .top-ui-bar {
    padding-top: env(safe-area-inset-top);
    height: unset;
    margin-top: 0px;
    top: 0;
  }
  .top-ui-bar .center {
    width: 90%;
    height: 60px;
  }
  .top-ui-bar .center i {
    font-size: 24px;
  }
  .top-ui-bar .action-index {
    display: none;
  }
  .top-ui-bar .welcome-user {
    margin-left: 15px;
  }
  .menu .back-to-index {
    height: 60px;
  }
  .header-box {
    background-size: cover;
    margin-top: 60px;
    padding-top: env(safe-area-inset-top);
    height: unset;
  }
  .header-box .center {
    width: 90%;
    height: 200px;
  }
  .header-box h1 {
    font-size: 5vw;
  }
  .filter-bar-y ul {
    display: block;
    margin-left: 5%;
    white-space: nowrap;
    overflow-x: scroll;
  }
  .filter-bar-y ul li {
    display: inline-block;
    padding: 18px 0;
    margin: 0 27.5px;
  }
  .filter-bar-y ul li:first-child {
    margin-left: 0px;
  }
  .filter-bar-y ul li:last-child {
    padding-right: 25px;
  }
  .component-display .center {
    width: 90%;
  }
  .current-recipe .recipe-img,
  .grocery-list .recipe-img,
  .settings-content .recipe-img {
    width: 100%;
    height: 50vw;
  }
  .current-recipe span,
  .grocery-list span,
  .settings-content span {
    line-height: 24px;
  }
  .current-recipe .recipe-details,
  .grocery-list .recipe-details,
  .settings-content .recipe-details {
    width: 100%;
    margin-top: 30px;
  }
  .current-recipe .recipe-details .space-x,
  .grocery-list .recipe-details .space-x,
  .settings-content .recipe-details .space-x {
    width: 100%;
  }
  .current-recipe .recipe-details h3,
  .grocery-list .recipe-details h3,
  .settings-content .recipe-details h3 {
    font-size: 32px;
  }
  .current-recipe .recipe-details ul,
  .grocery-list .recipe-details ul,
  .settings-content .recipe-details ul {
    justify-content: space-between;
    padding: 10px 30px;
    border-radius: 10px;
    align-items: center;
    background-color: #eee;
  }
  .current-recipe .recipe-details ul li,
  .grocery-list .recipe-details ul li,
  .settings-content .recipe-details ul li {
    width: unset;
  }
  .current-recipe .recipe-details ul li:first-child,
  .grocery-list .recipe-details ul li:first-child,
  .settings-content .recipe-details ul li:first-child {
    padding-top: 10px;
  }
  .current-recipe .recipe-details .btn,
  .grocery-list .recipe-details .btn,
  .settings-content .recipe-details .btn {
    width: 100%;
    margin-top: 30px;
  }
  .current-recipe #ingredient-detail,
  .grocery-list #ingredient-detail,
  .settings-content #ingredient-detail {
    width: 100%;
  }
  .current-recipe #nutrient-detail,
  .grocery-list #nutrient-detail,
  .settings-content #nutrient-detail {
    width: 100%;
  }
  .center-base {
    width: 90%;
    margin-top: 100px;
    padding-top: env(safe-area-inset-top);
  }
  .tags {
    background-color: transparent !important;
    padding: 0px !important;
  }
  .tags li {
    padding: 10px 20px !important;
    font-size: 16px !important;
  }
  #ingredient-list {
    width: 100%;
  }
  #instructions-list {
    width: 100%;
    margin-top: 25px;
  }
  #instructions-list .instructions li span {
    margin-left: 0px;
    padding-left: 15px;
    width: 85%;
  }
  .list {
    padding: 20px 20px;
  }
  .list ul li label {
    margin-left: 0px;
    padding-left: 15px;
  }
  #nutrition-list {
    margin-top: 25px;
  }
  .intro-text {
    margin-top: 40px;
  }
  .generation-screen {
    height: 100vh;
    padding-top: env(safe-area-inset-top);
  }
  .generation-screen .to-home {
    right: 35px;
    padding-top: env(safe-area-inset-top);
  }
  .generation-screen .centered {
    width: 90%;
  }
  .generation-screen .roulette-wheel {
    width: 300px;
    height: 300px;
  }
  .generation-screen .roulette-wheel .roulette-trigger {
    width: 90px;
    height: 90px;
  }
  .generation-screen .roulette-wheel .roulette-trigger h2 {
    font-size: 14px;
  }
  .menu ul {
    margin-top: 17.5px;
  }
  .menu .back-to-index {
    height: unset;
    padding-top: env(safe-area-inset-top);
  }
  .menu .back-to-index .center {
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: flex-start;
    align-items: center;
  }
}
@media only screen and (max-width: 460px) and (min-width: 320px) {
  .current-recipe .recipe-details ul,
  .grocery-list .recipe-details ul {
    padding: 15px 30px;
  }
  .current-recipe .recipe-details ul li,
  .grocery-list .recipe-details ul li {
    width: 100%;
  }
  .current-recipe #ingredient-detail,
  .grocery-list #ingredient-detail {
    display: none;
  }
  .current-recipe #nutrient-detail,
  .grocery-list #nutrient-detail {
    display: none;
  }
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  z-index: 10;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  outline: none;
}
.slider {
  position: absolute;
  outline: none;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.2s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.2s;
}
input:checked + .slider {
  background-color: #ff7e1a;
  outline: none;
}
input:focus + .slider {
  box-shadow: 0 0 1px #ff7e1a;
  outline: none;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  outline: none;
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
