@recipeRouletteOrange : #ff7e1a;
@recipeRouletteDarkOrange : #f46c0f;
@headerTextColor : #394041;
@textColor : #858585;
@succesColor : #3fc380;
@errorColor : #cf000f;
@headerTextfont : 'Montserrat', sans-serif;
@textfont : 'Roboto', sans-serif;

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

// MENU BAR IN TOP OF SCREEN
.top-ui-bar {
    width: 100%;
    background-color: @recipeRouletteDarkOrange;
    height: 70px;
    margin-top: -70px;
    .flex;
    position: fixed;
    z-index: 80;

    .center {
        width: 95%;
        .flex;
        justify-content: flex-start;
        align-items: center;
    }

    .action-index {
        color: white;
    }

    a {
        color: white;
        text-decoration: none;

        i {
            margin-right: 7.5px;
        }
    }

    .menu-toggle {
        cursor: pointer;
        .stripe {
            width: 25px;
            height: 4px;
            background-color: white;
            margin-top: 4px;
            border-radius: 5px;

            &:first-child {
                margin-top: 0px;
            }
        }
    }

    .welcome-user {
        color: white;
        margin-left: 15px;
    }
}

// HEADER BOX ******************************************
.header-box {
    width: 100%;
    height: 350px;
    margin-top: 70px;
    .flex;
    align-items: center;
    background-image: url('../../images/header.jpg');
    background-position: center 65%;

    .center {
        width: 95%;
        .flex;
        align-items: center;
    }

    h1 {
        color: white;
        font-size: 38px;
        margin: 0;
        padding: 0;
    }
}

// MENU STYLING *****************************************
.menu {
    width: 300px;
    position: fixed;
    height: 100vh;
    background-color: #f0ebeb;
    top: 0;
    .flex;
    align-content: flex-start;
    transition: .3s ease;
    z-index: 999;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    // Animation for menu
    animation: slideIn 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    .back-to-index {
        width: 100%;
        height: 70px;
        background-color: @recipeRouletteDarkOrange;
        .flex;
        align-items: center;

        i {
            color: white;
            font-size: 28px;
        }
    }

    .center {
        width: 90%;
    }

    ul {
        padding: 0;
        margin: 35px 0 0 0;
        li {
            list-style-type: none;
            margin-bottom: 2px;
            background-color: white;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                position: relative;
                margin-right: -5px;
            }

            a {
                .flex;
                justify-content: flex-start;
                padding: 20px 0;
                margin-left: 20px;
                text-decoration: none;
                align-items: center;
            }

            i {
                font-size:22px;
            }

            span {
                margin-left: 15px;
            }

            button {
                background-color: transparent;
                border: none;
                outline: none;
                .flex;
                justify-content: flex-start;
                padding: 20px 0 20px 20px;
                text-decoration: none;
                align-items: center;
                margin-top: 30px;
                width: 100%;
                cursor: pointer;

                i {
                    font-size:22px;
                    pointer-events: none;
                }
    
                span {
                    margin-left: 15px;
                    font-size: 16px;
                    pointer-events: none;
                }
            }
        }
    }
}

.fade-out {
    // Animation for menu
    animation: slideOut 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.black-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
    z-index: 99;
}

// Animation for the display of the menu
@-moz-keyframes slideIn {
    from { left: -350px; }
    to { left: 0px; }
}
@-webkit-keyframes slideIn {
    from { left: -350px; }
    to { left: 0px; }
}
@keyframes slideIn {
    from { left: -350px; }
    to { left: 0px; }
}

// Animation for the display of the menu
@-moz-keyframes slideOut {
    from { left: 0; }
    to { left: -350px; }
}
@-webkit-keyframes slideOut {
    from { left: 0; }
    to { left: -350px; }
}
@keyframes slideOut {
    from { left: 0; }
    to { left: -350px; }
}

// COMPONENT DISPLAY **************************************************

.with-filter {
    top: 90px;
    position: relative;
}

.component-display {
    width: 100%;
    .flex;
    padding-bottom: 50px;
    .center {
        width: 1000px;
        .flex;
        
        .full-width {
            width: 100%;
            .flex;
        }
    }
}

.intro-text {
    margin-top: 35px;
    line-height: 24px;
}

// FILTER *************************************
.filter-bar-y {
    width: 100%;
    height: 55px;
    background-color: #f7f7f7;
    .flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: -90px;

    ul {
        .flex;
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            margin: 0 25px;
            font-size: 15px;
            cursor: pointer;

            a {
                text-decoration: none;
            }

            .active {
                font-weight: bold;
                color: @recipeRouletteDarkOrange;
            }
        }
    }
}

// RECIPE CARD ********************************************************

.recipe {
    width: 100%;
}

.col-md {
    width: 100%;
}

.current-recipe, .grocery-list {
    width: 100%;
    .flex;
    position: relative;
    justify-content: space-between;

    p {
        margin: 0;
    }

    .day-title {
        margin-top: 35px;
        font-size: 22px;
        width: 100%;
    }

    .recipe-img {
        width: 65%;
        height: 425px;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    }

    .recipe-details {
        width: 30%;
        .flex;
        align-items: center;

        h3 {
            font-size: 28px;
            margin: 0;
            position: relative;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 20px 0;
            width: 100%;
            .flex;
            
            li {
                width: 100%;
                padding: 10px 0;
                .flex;
                align-items: center;
                justify-content: flex-start;
                font-size: 18px;
                position: relative;

                &:first-child {
                    padding-top: 0px;
                }

                i {
                    font-size: 24px;
                    margin-right: 15px;
                }
            }
        }

        .btn {
            background-color: @recipeRouletteOrange;
            color: white;
            width: 250px;
            position: relative;
        }
    }

    .recipe-extended-details {
        padding: 20px 0;
        background-color: white;
        margin-top: 35px;
        border-radius: 10px;
        border: 1px solid #dedede;
        .flex;

        .center-y {
            width: 90%;
        }

        h4 {
            width: 100%;
            .flex;
            justify-content: flex-start;
            font-size: 20px;
            margin: 0;
            position: relative;
        }

        ul {
            padding: 0;
            list-style: none;
            margin: 20px 0 0 0;

            li {
                margin: 12.5px 0;
                position: relative;

                &:last-child {
                    font-weight: bold;
                    margin: 20px 0 0 0;

                    span {
                        font-weight: normal;
                    }
                }
            }
        }

        .nutrient-list {
            margin-bottom: 0px;
            width: 100%;
    
            li {
                width: 100%;
                .flex;
                justify-content: space-between;
                border: 1px dashed #dedede;
                border-bottom: none;
                padding: 15px;
                color: @headerTextColor;
                margin: 0;

                &:last-child {
                    margin: 0;
                }
    
                span {
                    &:first-child {
                        font-weight: bold;
                    }
                }
    
                &:last-child {
                    border-bottom: 1px dashed #dedede;
                }
            }
        }
    }

    #ingredient-detail {
        width: 48.5%;
    }

    #nutrient-detail {
        width: 48.5%;
    }

    .groceries-list {
        width: 100%;
        padding: 0;
        list-style-type: none;
        margin: 0;

        li {
            padding: 40px 0;
            border-bottom: 1px solid #dedede;
            position: relative;
        }
    }

    .grocery-item {
        width: 100%;
        cursor: pointer;
    }

    input[type=checkbox] {
        position: absolute;
        opacity: 0;
    }

    input[type=checkbox]:checked ~ .checkmark {
        i {
            display: flex;
            color: @recipeRouletteOrange;
        }
    }

    .checkmark {
        width: 25px;
        height: 25px;
        background-color: white;
        border:1px solid #dedede;
        position: absolute;
        transition: 0.2s;
        border-radius: 2.5px;
        cursor: pointer;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        .flex;
        align-items: center;

        i {
            color: white;
            display: none;
            pointer-events: none;
        }
    }
}

.request-schedule {
    position: relative;
    top: -70px;
    width: 100%;
    .flex;
    text-align: center;

    .btn {
        width: 250px;
        background-color: @recipeRouletteOrange;
        color: white;
        margin-top: 20px;
    }
}

// ALLERGIES & DIETS LIST *************************************************************
.toggle-box {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-top: 35px;

    li {
        width: 100%;
        color: #394041;
        padding: 30px 0;
        .flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #eee;

        &:first-child {
            padding-top: 0px;
        }

        &:last-child {
            padding-bottom: 0px;
            border-bottom: none;
        }
    }
}


// SETTINGS PAGE *******************************************
.settings-content {
    width: 720px;
    position: relative;

    p {
        margin: 0;
    }

    form {
        margin: 45px 0 0 0;
        .flex;

        .outer-container {
            width: 100%;
        }

        input {
            width: 100%;
        }

        span {
            color: white;
            pointer-events: none;
        }

        .btn {
            background-color: #ff7e1a;
            color: white;
            width: 250px;
            border: none;
            font-size: 16px;
            margin-top: 35px;
            outline: none;

            &:disabled {
                opacity: 0.5;
                cursor: crosshair;
            }
        }
    }
}

// SKELETON LOADER ##################################################################################################################################################


.skeleton-loader {
    display: inline-block;
    height: 100%;
    width: 100%;
    background: linear-gradient(-90deg, #F0F0F0 0%, #F8F8F8 50%, #F0F0F0 100%);
    background-size: 400% 400%;
    animation: pulse 1.2s ease-in-out infinite;
    position: absolute;
    top: 0;
    left: 0;;

    @keyframes pulse {
        0% {
        background-position: 0% 0%;
        }
        100% {
        background-position: -135% 0%;
        }
    }

    .skeleton-line {
        width: 5.5em;
        border-radius: 5px;

        &::before {
            content: "\00a0";
        }
    }
}

.skeleton-frame-l {
    height: 35px;
}

.skeleton-frame-m {
    height: 25px;
}

.skeleton-frame-ml {
    height: 25px;
}

.skeleton-frame-m-space {
    height: 25px;
    margin: 7.5px 0;
}

// GENERATION SCREEN
.generation-screen {
    width: 100%;
    height: 100%;
    background-color: @recipeRouletteOrange;
    position: fixed;
    .flex;
    align-items: center;

    .to-home {
        position: absolute;
        right: 2.5%;
        top: 30px;
        i {
            color: white;
            font-size: 25px;
        }
    }

    .centered {
        width: 850px;
        .flex;

        h2 {
            color: white;
            font-size: 30px;
            text-align: center;
            line-height: 42px;
            margin: 0;
        }
    }

    div {
        &:first-child {
            width: 100%;
            .flex;
        }
    }

    .btn {
        width: 250px;
        background-color: white;
        color: @recipeRouletteOrange;
    }

    p {
        width: 100%;
        text-align: center;
        color: white;
        margin: 40px 0;
    }

    .roulette-wheel {
        width: 550px;
        height: 550px;
        margin-top: 25px;
        border-radius: 100%;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .roulette-trigger {
            width: 165px;
            height: 165px;
            position: absolute;
            background-color: @recipeRouletteDarkOrange;
            margin: auto;
            border-radius: 100%;
            top: 0; left: 0; bottom: 0; right: 0;
            cursor: pointer;
            .flex;
            align-items: center;

            h2 {
                color: white;
                font-size: 20px;
            }
        }

        .spin-animate {
            -webkit-animation-name: spinner; /* Safari 4.0 - 8.0 */
            -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
            -webkit-animation-iteration-count:  1;
            animation-timing-function: ease-out;
        }

        /* Safari 4.0 - 8.0 */
        @-webkit-keyframes spinner {
            from {-webkit-transform: rotate(0deg);}
            to {-webkit-transform: rotate(360deg);}
        }
        
        /* Standard syntax */
        @keyframes spinner {
            from {-webkit-transform: rotate(0deg);}
            to {-webkit-transform: rotate(360deg);}
        }
    }
}

// FULL RECIPE PAGE ********************************
.recipe-full {
    .flex;

    .top-ui-bar {
        margin-top: 0px;
    }

    .current-recipe {
        top: 0px;

        .specs {
            margin-bottom: 0px;
        }

        h3 {
            font-size: 28px;
        }
    }
}

.center-base {
    width: 1155px;
    margin-top: 140px;
    .flex;
}

.tags {
    .flex;
    justify-content: flex-start !important;
    margin: 20px 0 !important;
    li {
        padding: 12.5px 25px !important;
        width: unset !important;
        display: unset !important;
        background-color: #dedede;
        border-radius: 10px;
        margin-right: 10px;
    }
}

.day-tag {
    padding: 12.5px 25px;
    border-radius: 10px;
    background-color: #ffa45c;
    color: white;
    margin-bottom: 20px;
    display: inline-flex;
}

.details-box {
    width: 100%;
    margin: 25px 0 50px 0;
    .flex;
    justify-content: space-between;
}

.list {
    padding: 30px 30px;
    border: 1px solid #dedede;
    border-radius: 10px;
    align-self: flex-start;

    h4 {
        font-size: 18px;
        margin-top: 0px;
    }

    ul {
        padding: 0;
        list-style-type: none;
        width: 100%;
        .flex;

        li {
            width: 100%;
            .flex;
            justify-content: flex-start;
            align-items: center;
            padding: 5px 0;

            
            label {
                width: 85% !important;
                margin-left: 15px;
                justify-content: flex-start;
                align-items: flex-start;
            }
        }
    }

    .btn {
        background-color: @recipeRouletteOrange;
        color: white;
    }
}

#ingredient-list {
    width: 30%;
}

#instructions-list {
    width: 67.5%;

    .instructions {
        margin-bottom: 0px;
        li {
            margin: 5px 0;
            .flex;
            align-items: flex-start;
            justify-content: flex-start;
            .instruction-key {
                background-color: @recipeRouletteDarkOrange;
                width: 30px;
                height: 30px;
                .flex;
                color: white;
                align-items: center;
                border-radius: 100%;
                font-size: 13px;
            }

            span {
                width: 90%;
                margin-left: 10px;
                margin-top: 5px;
            }
        }
    }
}

#nutrition-list {
    margin-top: 50px;
    width: 100%;

    ul {
        margin-bottom: 0px;
        width: 100%;

        li {
            width: 100%;
            .flex;
            justify-content: space-between;
            border: 1px dashed #dedede;
            border-bottom: none;
            padding: 20px;
            color: @headerTextColor;

            span {
                &:first-child {
                    font-weight: bold;
                }
            }

            &:last-child {
                border-bottom: 1px dashed #dedede;
            }
        }
    }
}

// ANIMATION FOR COMPONENTS 

/* Safari 4.0 - 8.0 */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  /* Standard syntax */
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }

@media only screen and (max-width: 1240px) and (min-width: 1025px) {
    .center-base {
        width: 980px;
    }

    #ingredient-list {
        width: 350px;
    }

    #instructions-list {
        width: 600px;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {

    .header-box {
        height: 300px;
    }

    .component-display {
        .center {
            width: 95%;
        }
    }
   
    .current-recipe {
        .recipe-img {
            width: 55%;
            height: 300px;
        }

        .recipe-details {
            width: 40%;

            h3 {
                font-size: 20px;
            }

            ul {
                li {
                    padding: 5px 0;
                }
            }

            .btn {
                width: 200px;
            }
        }
    }

    .component-display {
        .center {
            width: 730px;
        }
    }

    .center-base {
        width: 95%;
    }


    #ingredient-list {
        width: 35%;
    }

    #instructions-list {
        width: 62.5%;
    }

    #nutrition-list {
        margin-top: 30px;
    }

    .current-recipe {
        margin-bottom: 30px;
    }

    .list {
        padding: 20px 20px;

        ul {
            li {
                label {
                    margin-left: 0px;
                    padding-left: 15px;
                }
            }
        }
    }
}

// MOBILE RESPONSIVENESS 
@media only screen and(max-width: 768px) and (min-width: 320px) { 
    .top-ui-bar {
        padding-top: env(safe-area-inset-top);
        height: unset;
        margin-top: 0px;
        top: 0;
        .center {
            width: 90%;
            height: 60px;

            i {
                font-size: 24px;
            }
        }

        .action-index {
            display: none;
        }

        .welcome-user {
            margin-left: 15px;
        }
    }

    .menu {
        .back-to-index {
            height: 60px;
        }
    }

    .header-box {
        background-size: cover;
        margin-top: 60px;
        padding-top: env(safe-area-inset-top);
        height: unset;
        .center {
            width: 90%;
            height: 200px;
        }

        h1 {
            font-size: 5vw;
        }
    }

    .filter-bar-y {
        ul {
            display: block;
            margin-left: 5%;
            white-space: nowrap;
            overflow-x: scroll;

            li {
                display: inline-block;
                padding: 18px 0;
                margin: 0 27.5px;

                &:first-child {
                    margin-left: 0px;
                }

                &:last-child {
                    padding-right: 25px;
                }
            }
        }
    }

    .component-display {
        .center {
            width: 90%;
        }
    }

    .current-recipe, .grocery-list, .settings-content {
        .recipe-img {
            width: 100%;
            height: 50vw;
        }

        span {
            line-height: 24px;
        }

        .recipe-details {
            width: 100%;
            margin-top: 30px;

            .space-x {
                width: 100%;
            }

            h3 {
                font-size: 32px;
            }

            ul {
                justify-content: space-between;
                padding: 10px 30px;
                border-radius: 10px;
                align-items: center;
                background-color: #eee;
                li {
                    width: unset;

                    &:first-child {
                        padding-top: 10px;
                    }
                }
            }

            .btn {
                width: 100%;
                margin-top: 30px;
            }
        }

        #ingredient-detail {
            width: 100%;
        }

        #nutrient-detail {
            width: 100%;
        }
    }

    .center-base {
        width: 90%;
        margin-top: 100px;
        padding-top: env(safe-area-inset-top);
    }

    .tags {
        background-color: transparent !important;
        padding: 0px !important;


        li {
            padding: 10px 20px !important;
            font-size: 16px !important;
        }
    }

    #ingredient-list {
        width: 100%;
    }

    #instructions-list {
        width: 100%;
        margin-top: 25px;

        .instructions {
            li {
                span {
                    margin-left: 0px;
                    padding-left: 15px;
                    width: 85%;
                }
            }
        }
    }

    .list {
        padding: 20px 20px;

        ul {
            li {
                label {
                    margin-left: 0px;
                    padding-left: 15px;
                }
            }
        }
    }

    #nutrition-list {
        margin-top: 25px;
    }

    .intro-text {
        margin-top: 40px;
    }

    .generation-screen {
        height: 100vh;
        padding-top: env(safe-area-inset-top);
        .to-home {
            right: 35px;
            padding-top: env(safe-area-inset-top);
        }

        .centered {
            width: 90%;
        }

        .roulette-wheel {
            width: 300px;
            height: 300px;

            .roulette-trigger {
                width: 90px;
                height: 90px;

                h2 {
                    font-size: 14px;
                }
            }
        }
    }

    .menu {

        ul {
            margin-top: 17.5px;
        }

        .back-to-index {
            height: unset;
            padding-top: env(safe-area-inset-top);
            
            .center {
                height: 60px;
                .flex;
                justify-content: flex-start;
                align-items: center;
            }
        }
    }
}

@media only screen and(max-width: 460px) and (min-width: 320px) { 
    .current-recipe, .grocery-list {
        .recipe-details {

            ul {
                padding: 15px 30px;
                li {
                    width: 100%;
                }
            }
        }

        #ingredient-detail {
            display: none;
        }

        #nutrient-detail {
            display: none;
        }
    }
}


// TOGGLES ***********************************************************************************
//Toggles {
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        z-index: 10;
    }
    
    .switch input { 
        opacity: 0;
        width: 0;
        height: 0;
        outline: none;
    }
    
    .slider {
        position: absolute;
        outline: none;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .2s;
    }
    
    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .2s;
    }
    
    input:checked + .slider {
        background-color: @recipeRouletteOrange;
        outline: none;
    }
    
    input:focus + .slider {
        box-shadow: 0 0 1px @recipeRouletteOrange;
        outline: none;
    }
    
    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
        outline: none;
    }
    
    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }
    
    .slider.round:before {
        border-radius: 50%;
    }