h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', sans-serif;
  color: #394041;
  letter-spacing: 1px;
}
p,
span,
li,
input,
a,
button,
table,
label {
  font-family: 'Roboto', sans-serif;
  color: #858585;
}
p {
  line-height: 24px;
}
input[type=text],
input[type=password],
input[type=text],
input[type=email] {
  -webkit-appearance: none;
}
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  outline-style: none;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-decoration: none;
  align-content: center;
  font-weight: bold;
  box-shadow: 0 0 101px rgba(48, 46, 76, 0.14);
  transition: 0.25s;
  cursor: pointer;
  border-radius: 50px;
  padding: 15px 0;
}
.btn:hover {
  -moz-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  -o-transform: translate(0px, -2px);
  -webkit-transform: translate(0px, -2px);
  transform: translate(0px, -2px);
}
.startScreen {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #ff7e1a;
}
.startScreen .header {
  height: 50vh;
  width: 100%;
  background-image: url(images/header.jpg);
  background-position: 40% 60%;
  position: relative;
}
.startScreen .header img {
  margin-left: 50px;
  margin-top: 50px;
  width: 275px;
}
.startScreen .header:after {
  content: "";
  width: 100%;
  height: 200px;
  -webkit-clip-path: polygon(0 50%, 0% 100%, 100% 100%);
  background-color: #ff7e1a;
  display: block;
  position: absolute;
  bottom: -1px;
}
.startScreen .actions-container {
  height: 35vh;
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.startScreen .actions-container .x-space {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.startScreen .actions-container a {
  cursor: pointer;
}
.startScreen .actions-container .btn {
  min-width: 200px;
  padding: 18px 25px;
  border-radius: 50px;
  background-color: white;
  color: #ff7e1a;
}
.startScreen .actions-container .btn:last-child {
  margin-left: 25px;
}
.startScreen .actions-container h1 {
  color: white;
  font-size: 62px;
  margin: 0 0 35px 0;
  text-align: center;
}
.dark-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.dark-overlay .pop-up-modal {
  width: 600px;
  padding: 35px 0;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.dark-overlay .pop-up-modal .space-y {
  width: 90%;
}
.dark-overlay .pop-up-modal .pop-up-actions {
  width: 100%;
  padding: 0 0 25px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
  align-content: center;
}
.dark-overlay .pop-up-modal .pop-up-actions h4 {
  margin: 0;
}
.popup-content p {
  line-height: 24px;
}
.selectors {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
  margin-top: 30px;
  align-items: center;
}
.selectors .btn {
  border: 1px solid #dedede;
}
.selectors .btn:last-child {
  margin-left: 0px !important;
}
.selectors .btn i {
  pointer-events: none;
}
.no-margin .btn {
  margin-left: 0px !important;
}
.finished {
  margin-top: 10px;
}
.finished h2 {
  font-size: 23px;
  margin: 0;
  text-align: center;
}
.finished p {
  margin-top: 25px;
  text-align: center;
}
.house-size {
  font-size: 30px;
}
label {
  font-size: 15px;
  margin-bottom: 5px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
  margin-top: 20px;
}
label:first-child {
  margin-top: 0px;
}
.checkbox {
  width: 33.3%;
  list-style-type: none;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
.checkbox label {
  width: 100%;
  justify-content: center;
  margin-top: 7.5px;
}
.checkbox input[type=checkbox] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.checkbox input[type=checkbox]:checked ~ .checkmark i {
  display: flex;
}
.checkbox .checkmark {
  width: 25px;
  height: 25px;
  background-color: white;
  border: 1px solid #dedede;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.checkbox .checkmark i {
  color: #ff7e1a;
  display: none;
}
input[type=text],
input[type=password],
input[type=email],
input[type=number] {
  width: 100%;
  border: 1px solid #dedede;
  padding: 12px 0 12px 10px;
  outline-color: #ff7e1a;
  font-size: 16px;
}
.error-dsp {
  font-size: 15px;
  color: #cf000f;
  margin-top: 5px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: flex-start;
}
.reset-link {
  color: #ff7e1a;
  font-size: 15px;
  text-decoration: none;
}
.actions {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}
.actions .btn {
  background-color: #ff7e1a !important;
  color: white !important;
}
.actions a {
  align-self: center;
  margin-top: 30px;
}
.actions a:nth-child(2) {
  color: #ff7e1a;
  text-decoration: none;
}
#response-msg {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 25px 50px;
  border-radius: 50px;
  animation: swipeIn 0.15s linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  left: 50%;
  z-index: 999;
  transform: translate(-50%, 0);
  box-shadow: 0 0 101px rgba(48, 46, 76, 0.14);
}
#response-msg span {
  color: white;
  margin-right: 50px;
}
#response-msg a {
  color: white;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid white;
}
#response-msg .close-msg {
  position: absolute;
  right: 0;
  background-color: #36a56d;
  color: white;
  height: 100%;
  top: 0;
  width: 65px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
#response-msg .close-msg button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 100%;
  height: 30px;
  width: 30px;
}
#response-msg .close-msg button i {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  align-content: center;
  pointer-events: none;
  font-size: 16px;
  left: -1px;
  top: 1px;
}
#response-msg .close-msg button:hover {
  background-color: #2f8c5d;
}
@-moz-keyframes swipeIn {
  from {
    bottom: -100px;
  }
  to {
    bottom: 40px;
  }
}
@-webkit-keyframes swipeIn {
  from {
    bottom: -100px;
  }
  to {
    bottom: 40px;
  }
}
@keyframes swipeIn {
  from {
    bottom: -100px;
  }
  to {
    bottom: 40px;
  }
}
.succesful {
  background-color: #3fc380;
}
.failed {
  background-color: #cf000f;
}
.failed .close-msg {
  background-color: #9a1620 !important;
}
.failed .close-msg button:hover {
  background-color: #6d242a !important;
}
.progress-bar {
  width: 100%;
  margin: 20px 0 40px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #dedede;
}
.progress-bar .steps {
  width: 100%;
  margin: 0;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
}
.progress-bar .steps .active i {
  background-color: #ff7e1a;
  color: white;
}
.progress-bar .steps .active:before {
  background-color: #ff7e1a;
}
.progress-bar .steps .active:after {
  background-color: #ff7e1a;
}
.progress-bar .steps li {
  width: 33.3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
.progress-bar .steps li i {
  width: 40px;
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #dedede;
  align-items: center;
  border-radius: 100%;
  z-index: 999;
}
.progress-bar .steps li:before {
  content: "";
  width: 50%;
  height: 5px;
  background-color: #dedede;
  position: absolute;
  left: 0;
  top: 18px;
}
.progress-bar .steps li:after {
  content: "";
  width: 50%;
  height: 5px;
  background-color: #dedede;
  position: absolute;
  right: 0;
  top: 18px;
}
@media only screen and (max-width: 1400px) and (min-width: 1281px) {
  .startScreen .actions-container {
    width: 70%;
  }
}
@media only screen and (max-width: 1280px) and (min-width: 1025px) {
  .startScreen .header {
    background-position: 85% 90%;
  }
  .startScreen .actions-container {
    width: 70%;
  }
  .dark-overlay {
    z-index: 999;
    height: 100vh;
  }
  .dark-overlay .pop-up-modal {
    width: 100%;
    border-radius: 0px;
    height: 100%;
  }
  .dark-overlay .pop-up-modal .actions {
    margin-bottom: 35px;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .startScreen .header {
    background-position: 85% 90%;
  }
  .startScreen .actions-container {
    width: 70%;
  }
  .dark-overlay .pop-up-modal {
    width: 100%;
    border-radius: 0px;
    height: 100%;
  }
  .dark-overlay .pop-up-modal .actions {
    margin-bottom: 35px;
  }
}
@media only screen and (max-width: 768px) and (min-width: 320px) {
  .startScreen .header {
    background-position: 85% 90%;
    background-size: 150%;
    height: 40vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  .startScreen .header img {
    width: 200px;
    margin-top: 50px;
    margin-left: 0px;
  }
  .startScreen .actions-container {
    width: 80%;
    margin-top: -40px;
  }
  .startScreen .actions-container h1 {
    font-size: 40px;
  }
  .startScreen .actions-container .btn {
    width: 100%;
  }
  .startScreen .actions-container .btn:last-child {
    margin-left: 0px;
    margin-top: 15px;
  }
  .registration-proces .actions {
    padding-bottom: 40px;
  }
  .selectors {
    justify-content: center;
  }
  .selectors .house-size {
    margin: 35px 0 20px 0;
  }
  .dark-overlay .pop-up-modal {
    border-radius: 0px;
    height: 100vh;
    width: 100%;
  }
  .dark-overlay .pop-up-modal .space-y {
    padding-top: env(safe-area-inset-top);
  }
  #response-msg {
    width: 90%;
  }
  input:focus {
    outline: none;
  }
  #response-msg {
    padding: 25px 50px 25px 30px;
  }
  #response-msg span {
    font-size: 3.8vw;
  }
}
