// Define fonts and colors
@recipeRouletteOrange : #ff7e1a;
@recipeRouletteDarkOrange : #f46c0f;
@headerTextColor : #394041;
@textColor : #858585;
@succesColor : #3fc380;
@errorColor : #cf000f;
@headerTextfont : 'Montserrat', sans-serif;
@textfont : 'Roboto', sans-serif;

h1, h2, h3, h4, h5 {
    font-family: @headerTextfont;
    color: @headerTextColor;
    letter-spacing: 1px;
}

p, span, li, input, a, button, table, label {
    font-family: @textfont;
    color: @textColor;
}

p {
    line-height: 24px;
}

input[type=text], input[type=password], input[type=text], input[type=email] {
    -webkit-appearance: none;
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    outline-style: none;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn {
    .flex;
    text-decoration: none;
    align-content: center;
    font-weight: bold;
    box-shadow: 0 0 101px rgba(48, 46, 76, 0.14);
    transition: 0.25s;
    cursor: pointer;
    border-radius: 50px;
    padding: 15px 0;


    &:hover {
        -moz-transform: translate(0px, -2px);
        -ms-transform: translate(0px, -2px);
        -o-transform: translate(0px, -2px);
        -webkit-transform: translate(0px, -2px);
        transform: translate(0px, -2px)
    }
}

.startScreen {
    width: 100%;
    height: 100vh;
    .flex;
    background-color: @recipeRouletteOrange;

    .header {
        height: 50vh;
        width: 100%;
        background-image: url(images/header.jpg);
        background-position: 40% 60%;
        position: relative;

        img {
            margin-left: 50px;
            margin-top: 50px;
            width: 275px;
        }

        &:after {
            content: "";
            width: 100%;
            height: 200px;
            -webkit-clip-path: polygon(0 50%, 0% 100%, 100% 100%);
            background-color: #ff7e1a;
            display: block;
            position: absolute;
            bottom: -1px;
        }
    }

    .actions-container {
        height: 35vh;
        width: 40%;
        .flex;
        align-items: center;

        .x-space {
            .flex;
        }

        a {
            cursor: pointer;
        }

        .btn {
            min-width: 200px;
            padding: 18px 25px;
            border-radius: 50px;
            background-color: white;
            color: @recipeRouletteOrange;

            &:last-child {
                margin-left: 25px;
            }
        }

        h1 {
            color: white;
            font-size: 62px;
            margin: 0 0 35px 0;
            text-align: center;
        }
    }
}

.dark-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;

    .flex;
    align-content: center;

    .pop-up-modal {
        width: 600px;
        padding: 35px 0;
        background-color: white;
        border-radius: 5px;
        .flex;

        .space-y {
            width: 90%;
        }

        .pop-up-actions {
            width: 100%;
            padding: 0 0 25px 0;
            .flex;
            justify-content: space-between;
            align-content: center;

            h4 {
                margin: 0;
            }
        }
    }
}

.popup-content {
    p {
        line-height: 24px;
    }
}

.selectors {
    width: 100%;
    .flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;

    .btn {
        border: 1px solid #dedede;
        &:last-child {
            margin-left: 0px !important;
        }

        i {
            pointer-events: none;
        }
    }
}

.no-margin {
    .btn {
        margin-left: 0px !important;
    }
}

.finished {
    margin-top: 10px;
    h2 {
        font-size: 23px;
        margin: 0;
        text-align: center;
    }

    p {
        margin-top: 25px;
        text-align: center;
    }
}


.house-size {
    font-size: 30px;
}

// INPUT FIELDS STYLING *****************************************************************************************
label {
    font-size: 15px;
    margin-bottom: 5px;
    width: 100%;
    .flex;
    justify-content: space-between;
    margin-top: 20px;

    &:first-child {
        margin-top: 0px;
    }
}

.checkbox {
    width: 33.3%;
    list-style-type: none;
    padding: 20px;
    .flex;
    position: relative;

    label {
        width: 100%;
        justify-content: center;
        margin-top: 7.5px;
    }

    input[type=checkbox] {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    input[type=checkbox]:checked ~ .checkmark {
        i {
            display: flex;
        }
    }

    .checkmark {
        width: 25px;
        height: 25px;
        background-color: white;
        border: 1px solid #dedede;
        .flex;
        align-items: center;

        i {
            color: @recipeRouletteOrange;
            display: none;
        }
    }
}

input[type=text], input[type=password], input[type=email], input[type=number] {
    width: 100%;
    border: 1px solid #dedede;
    padding: 12px 0 12px 10px;
    outline-color: @recipeRouletteOrange;
    font-size: 16px;
}

.error-dsp {
    font-size: 15px;
    color: @errorColor;
    margin-top: 5px;
    width: 100%;
    .flex;
    justify-content: flex-start;
}

.reset-link {
    color: @recipeRouletteOrange;
    font-size: 15px;
    text-decoration: none;
}

.actions {
    width: 100%;
    .flex;
    flex-direction: column;

    .btn {
        background-color: @recipeRouletteOrange !important;
        color: white !important;
    }

    a {
        align-self: center;
        margin-top: 30px;

        &:nth-child(2) {
            color: @recipeRouletteOrange;
            text-decoration: none;
        }
    }
}

// RESPONSE MESSAGE STYLING ***************************************************************************************
#response-msg {
    position: fixed;
    .flex;
    padding: 25px 50px;
    border-radius: 50px;
    animation: swipeIn 0.15s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    left: 50%;
    z-index: 999;
    transform: translate(-50%, 0);
    box-shadow: 0 0 101px rgba(48, 46, 76, 0.14);
    
    span {
        color: white;
        margin-right: 50px;
    }

    a {
        color: white;
        text-decoration: none;
        padding-bottom: 1px;
        border-bottom: 1px solid white;
    }

    .close-msg {
        position: absolute;
        right: 0;
        background-color: #36a56d;
        color: white;
        height: 100%;
        top: 0;
        width: 65px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;

        button {
            background-color: transparent;
            border: none;
            color: white;
            outline: none;
            .flex;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            margin: auto;
            cursor: pointer;
            transition: 0.3s;
            border-radius: 100%;
            height: 30px;
            width: 30px;

            i {
                .flex;
                position: relative;
                align-content: center;
                pointer-events: none;
                font-size: 16px;
                left: -1px;
                top: 1px;
            }

            &:hover {
                background-color: #2f8c5d;
            }
        }
    }
}

// Animation for the display of the message
// animation for the load icon
@-moz-keyframes swipeIn {
    from { bottom: -100px; }
    to { bottom: 40px; }
}
@-webkit-keyframes swipeIn {
    from { bottom: -100px; }
    to { bottom: 40px; }
}
@keyframes swipeIn {
    from { bottom: -100px; }
    to { bottom: 40px; }
}

.succesful {
    background-color: @succesColor;
}

.failed {
    background-color: @errorColor;

    .close-msg {
        background-color: #9a1620 !important;

        button {
            &:hover {
                background-color: #6d242a !important;
            }
        }
    }
}

// PROGRESSBAR STYLING **************************************************************
.progress-bar {
    width: 100%;
    margin: 20px 0 40px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #dedede;

    .steps {
        width: 100%;
        margin: 0;
        list-style-type: none;
        padding: 0;
        .flex;
        justify-content: space-between;

        .active {

            i {
                background-color: @recipeRouletteOrange;
                color: white;
            }

            &:before {
                background-color: @recipeRouletteOrange;
            }

            &:after {
                background-color: @recipeRouletteOrange;
            }
        }

        li {
            width: 33.3%;
            .flex;
            position: relative;

            i {
                width: 40px;
                height: 40px;
                .flex;
                background-color: #dedede;
                align-items: center;
                border-radius: 100%;
                z-index: 999;
            }

            &:before {
                content: "";
                width: 50%;
                height: 5px;
                background-color: #dedede;
                position: absolute;
                left: 0;
                top: 18px;
            }

            &:after {
                content: "";
                width: 50%;
                height: 5px;
                background-color: #dedede;
                position: absolute;
                right: 0;
                top: 18px;
            }
        }
    }
}

// IPAD PRO PORTRAIT
@media only screen and (max-width: 1400px) and (min-width: 1281px) {
    .startScreen {
        .actions-container {
            width: 70%;
        }
    }
}

@media only screen and (max-width: 1280px) and (min-width: 1025px) {
    .startScreen {
        .header {
            background-position: 85% 90%;
        }

        .actions-container {
            width: 70%;
        }
    }

    .dark-overlay {
        z-index: 999;
        height: 100vh;
        .pop-up-modal {
            width: 100%;
            border-radius: 0px;
            height: 100%;


            .actions {
                margin-bottom: 35px;
            }
        }
    }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
    .startScreen {
        .header {
            background-position: 85% 90%;
        }

        .actions-container {
            width: 70%;
        }
    }

    .dark-overlay {
        .pop-up-modal {
            width: 100%;
            border-radius: 0px;
            height: 100%;

            .actions {
                margin-bottom: 35px;
            }
        }
    }
}

@media only screen and(max-width: 768px) and (min-width: 320px) { 
    .startScreen {
        .header {
            background-position: 85% 90%;
            background-size: 150%;
            height: 40vh;
            .flex;
            align-items: flex-start;

            img {
                width: 200px;
                margin-top: 50px;
                margin-left: 0px;
            }
        }

        .actions-container {
            width: 80%;
            margin-top: -40px;

            h1 {
                font-size: 40px;
            }

            .btn {
                width: 100%;

                &:last-child {
                    margin-left: 0px;
                    margin-top: 15px;
                }
            }
        }
    }

    .registration-proces {
        .actions {
            padding-bottom: 40px;
        }
    }

    .selectors {
        justify-content: center;

        .house-size {
            margin: 35px 0 20px 0;
        }
    }

    .dark-overlay {
        .pop-up-modal {
            border-radius: 0px;
            height: 100vh;
            width: 100%;

            .space-y {
                padding-top: env(safe-area-inset-top);
            }
        }
    }

    #response-msg {
        width: 90%;
    }

    input:focus { outline: none; }

    #response-msg {
        padding: 25px 50px 25px 30px;

        span {
            font-size: 3.8vw;
        }
    }
}
